.swiper-wrapper {
  position: relative;
  padding-bottom: 50px;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
  transform: translateZ(0);
  display: flex;
}

.swiper-no-padding {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}
